@model BookListViewModel

<vc:search-window paging-info="@Model.PagingInfo" controller-name="Management" action-name="GetBooksByName" />

<div class=" row d-flex justify-content-center card-deck">
	@foreach(var book in Model?.Books ?? Enumerable.Empty<Book>())
	{
		<partial name="_BookManagementCard" model="book"/>
	}
</div>
<div class="d-flex justify-content-center">
	<div page-paging-model="@Model?.PagingInfo" page-action="Index" page-class-default="true"
		 class="btn-group pull-right m-1"></div>
</div>
