@model Book



<div class="d-flex justify-content-center">
    <div class="card mt-3 p-1" style="width: 24rem;">
        <div class="card-body">
            <h5 class="card-title">@Model.Name</h5>
            <p class="card-text in-row"><b>Description: </b>@Model.Description</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><b>Pages: </b>@Model.TotalPagesNum</li>
        </ul>
        <div class="card-body">
            <a asp-controller="Home" asp-action="Index" class="btn btn-outline-primary mt-2">Go Back</a>
            <a asp-controller="Book" asp-action="Index" asp-route-bookid="@Model.Id"
               class="btn btn-outline-success mt-2">Read now</a>
        </div>
    </div>
</div>


